<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  scope作用域https://www.cnblogs.com/qq78292959/p/3716827.html-->
    <!--  init-method作用域https://blog.csdn.net/topwqp/article/details/8681467-->
    <bean id="BeanLifeCycle" class="com.ts.springsimple.lifecycle.BeanLifeCycle" scope="singleton"   init-method="start"
          destroy-method="stop"/>

</beans>
